<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is todo ejs</h1>
    <h2>Displaying the json file</h2>
    <ul>
      <% data.forEach(function(item){ %>
      <li><strong><%= item.title %></strong></li>
      <li><%= item.description %></li>
      <li><%= item.status %></li>

      <%}) %>
    </ul>
  </body>
</html>
